<!DOCTYPE html>
<html>
<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <style>
        body    { padding-top:30px; }
    </style>
    
    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
	<title>Login Page</title>
</head>
<body>

<div class="page-header"><h1>Infopedia Sign In</h1></div>
{% block container %}
	<div class="container">	
		<form class="form-signin" method="POST" action="{{ path('login_login_homepage') }} ">
			<h2 class="form-signin-heading">Please Sign In</h2>
			<input type="text" class="input-block-level" name="email" placeholder="Email address">
			<input type="password" class="input-block-level" name="password" placeholder="Password">
			<label class="checkbox" >
				<input type="hidden" name="remember" value="remember-me" checked>
			</label>
			<button class="btn btn-large btn-primary" type="submit">Sign In</button>
			<a href="{{path('login_login_signup')}}">Sign Up</a>
		</form> 
	</div>


	{% if name is defined %}
		<div class="alert">
			<strong>{{name}}</strong>
		</div>
	{% endif %}

{% endblock %}

</body>
</html>






















{# <!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <style>
        body    { padding-top:30px; }
    </style>
    
    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
</head>


<body ng-app="validationApp" ng-controller="mainController">

    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Infopedia Sign In</h1></div>
    {% block container %}
		<div class="container">	
   
		    <!-- FORM -->
		    <!-- pass in the variable if our form is valid or invalid -->
		    <form name="userForm" method="POST" action="{{ path('login_login_homepage') }} " novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

		        <!-- EMAIL -->
		        <div class="form-group">
		            <label>Email</label>
		            <input type="email" name="email" class="form-control" ng-model="email">
		        </div>
		        
		        <!-- PASSWORD -->
		        <div class="form-group">
		            <label>Password</label>
		            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" ng-maxlength="18">
		        </div>
		        <input type="hidden" name="remember" value="remember-me" checked>

		        <!-- SUBMIT BUTTON -->
		        <button type="submit" class="btn btn-primary">Submit</button>
		        <br>
		        <a href="{{path('login_login_signup')}}">Sign Up</a>

		        
		    </form>
    	</div>
    {% endblock %}



</body>
</html>
 #}








